* {
    margin: 0;
}

html, body {
    max-height: 100%;
    box-sizing: border-box;
}

body div { /*Esto es para ver los bordes de los divs*/
    border: 1px solid black;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
}

.header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 4fr;
}

.project-section {
    grid-row: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.announcement-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.trending-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trend-profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
}